.gapCards{
    gap: 200px;
  }

.anchoCards{
    height: 580px;
    padding-left: 0;
    padding-right: 0;
}

.itemDetailTamano{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 235);
  border-color: white;
}

.cardDetalles {
  width: fit-content;
  height: 500px;
}
.imgTamanoDetails{
  width: 1000px;
} 

.colorTextoDetalle{
  color: black;
}