.gapCards{
    gap: 200px;
  }

.anchoCards{
    height: 580px;
    padding-left: 0;
    padding-right: 0;
}

.itemDetailTamano{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(241, 241, 235);
  border-color: white;
}

.cardDetalles {
  width: fit-content;
  height: 500px;
}
.imgTamanoDetails{
  width: 1000px;
} 

.colorTextoDetalle{
  color: black;
}
/* DARKMODE */
.darkMode{
  background-color: black;
  color: rgb(255, 252, 247);
}

.botonCards{
  background-color: rgb(218, 204, 204);
}
.botonCardDarkMode{
  background-color: rgb(66, 62, 62);
}
.textoCardDarkMode{
  color: rgb(218, 211, 211);
}
.textoBotonCard{
 color: rgb(28, 28, 29);
}

.cardBodyDark{
  background-color: black;
}